{
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "react",
    "jest"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-unused-vars": "warn"
  }
}
