.navbar {
    margin-bottom: 0px;
    background-color: #fff;
}

.navbar img, .navbar object {
    margin: 0px;
    padding: 10px;
}

.logo {
    margin: 0px;
    padding: 10px;
    width: auto;
    height: 80px;
}

.navbar .btn {
    margin-left: 4px;
}


.queryTitle {
  position: relative;
}

.revisionPicker {
  position: absolute;
  right: 0;
  margin-left: 25px;
  padding: 0 6px;
  font-size: 18px;
  text-align: right;
}

.queryCol .options {
    text-align: left;
}

.queryCol .btn {
    text-align: center;
    margin-top: 6px;
    margin-right: 4px;
}


.CodeMirror {
    height: 500px;
    border: 1px solid #e0e0e0;
}

.queryInput > .CodeMirror{
  height: 350px;
  margin-bottom: 20px;
}

.queryResult > .CodeMirror{
  height: 500px;
  margin-bottom: 20px;
}

.queryCol .form-control {
  margin-bottom: 8px;
}



/* Sidemenu query menu */
.menu {
  margin-top: 10px;
  border-top: 1px solid #efefef;
}

.menu a:hover {
  cursor: pointer;
}


.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  background-color: #00175B;
  border-radius: 5px;
}

.menu ul li {
  padding: 5px 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #efefef;
  font-weight: bold;
}

.menu ul li > ul {
  border-radius: 0px;
  background-color: #00175b;
  color: #fff;

  padding: 0px;
  margin: 5px 0px;
  margin-left: 23px;
  list-style: enabled;
  list-style-type: square;
}

.menu ul li > ul li {
  padding-left: 0px;
  margin-left: 0px;
}

.menu ul li > ul li a {
    font-weight: normal;
    color: #fff;
}

/* Resources styling */
.status-success {
  color: #2f7f2f;
  font-weight: bold;
}

.status-error {
  color: #6f1f1f;
  font-weight: bold;
}

.resource-url {
  font-style: italic;
}